* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.MainContainer {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
}
.MainContainer img {
    width: 261px;
    height: 200px;
    padding: 5px;
}
.productWrapper {
    display: flex;
}